.banner{background-color:salmon;
        width:90%
        height:100px;

}
.banner-text{
            top:50%;
            left:50%
            position:absolute;
            transform:transform;
}

.card-body{
background-color:aqua

}